# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

__pycache__

uniad
data
tools/data
tools/ckpts
tools/configs
tools/mmdet3d_plugin

*.log
.vscode

*_test
*.png

benchmark/cc/build
benchmark/cc/profile

kernel/cc/matmul/build
kernel/cuda/matmul/build
kernel/cuda/matmul/*csv
kernel/cuda/cutlass
kernel/cuda/ThunderKittens
kernel/cc/matmul/build

kernel/cuda/conv2d/build
